<div class="bg-white border" *ngIf="(photo$ | async) as photo">
    <div class="row">
        <div class="col-lg-8">
            <ap-photo [url]="photo.url" [description]="photo.description"></ap-photo>
        </div>

        <div class="col-lg-4 p-4">
            <small>
                <p class="text-left break-word">{{ photo.description }}</p>
                <div class="text-left mb-4">
                    <i (click)="like(photo)"  *ngIf="!photo.likes; else alugado" showIfLogged class="fa fa-heart-o fa-2x mr-2 pull-left">
                       Disponível
                    </i>  
                    <ng-template #alugado>Alugado.</ng-template>
                    <i photoOwnerOnly [ownedPhoto]="photo" (click)="remove()" class="fa fa-trash-o fa-2x pull-right" *ngIf="!photo.likes"></i>
                </div>                
                <hr>
            </small>

            <ap-photo-comments 
                *ngIf="photo.allowComments; else warnning"
                [photoId]="photoId">
            </ap-photo-comments>
            <ng-template #warnning>
                <p>User has disabled comments for this photo</p>
            </ng-template>
        </div><!-- col-md-4 -->
    </div><!-- row end -->
</div>