<div class="text-center" *ngIf="hasMore; else messageTemplate">
  <button class="btn btn-primary">Ver mais</button>
</div>

<ng-template #messageTemplate>
  <p class="text-center text-muted">Sem mais registros</p>
</ng-template>