<div class="text-center mt-3 mb-3">
    <form>
        <i aria-hidden="true" class="fa fa-search mr-1"></i>
        <input 
            class="rounded" 
            type="search" 
            placeholder="Procurar Livros" 
            autofocus
            (keyup)="debounce.next($event.target.value)"
            [value]="value"
            >
    </form>
</div>