<header class="fixed-top">

    <nav class="navbar navbar-light bg-white">
        <a class="navbar-brand">
            <i tabindex="0" (keyup.space)="menu.toggle()" (click)="menu.toggle()" class="fa fa-bars mr-2"></i>
            Aluga Livros
        </a>
        
        <ap-menu #menu>
            <ul class="list-unstyled">
                <li>
                    <a showIfLogged [routerLink]="['p','add']">Cadastrar Livro</a>
                </li>
            </ul>
        </ap-menu>

        <div *ngIf="(user$ | async) as user; else login">
            <i class="fa fa-user-circle mr-1"></i>
            <a class="mr-1">{{ user.name}}</a>
            <a (click)="logout()">(Sair)</a>
        </div>

        <ng-template #login>
            <span class="navbar-text">
                <a [routerLink]="['']">Entre aqui</a>
            </span>
        </ng-template> 
    </nav>
    <div class="fixed-top">
        <ap-loading></ap-loading>
        <ap-alert></ap-alert>
    </div>
</header>

