<p class="text-center text-muted" *ngIf="!photos.length"> 
    Nenhum livro cadastrado
</p>

<ol class="list-unstyled container">
    <li *ngFor="let cols of rows" class="row no-gutters p-0">
        <div *ngFor="let photo of cols" class="col-4" apDarkenOnHover>
            <a [routerLink]="['/p', photo.id]">
                <ap-card>
                    <ap-photo 
                        [url]="photo.url" 
                        [description]="photo.description">
                    </ap-photo>
                    <div class="text-center p-1">
                        <i aria-hidden="true" class="fa fa-heart-o fa-1x mr-2"></i>
                        <span *ngIf="!photo.likes; else alugado">Disponível</span>
                        <ng-template #alugado>Alugado.</ng-template>  
                    </div>              
                </ap-card>
            </a>
        </div>
    </li>
</ol>